
<div class="row">
    <div class="col-5 text-right">
        {{#each itemNotEaten}}
            <p>{{burger}} <button type="submit" class="btn btn-primary ml-2 move-button" data-value={{id}} onclick="put({{id}})">Devour It</button></p>
        {{/each}}
    </div>
    <div class="col-2"></div>
    <div class="col-5 text-left">
        {{#each itemEaten}}
            <p>{{burger}}</p>
        {{/each}}
    </div>
</div>
<div class="row text-center">
    <div class="col-6 offset-3">
        <form id="add-burger">
            <label for="burger-input">Type your burger here:</label><br>
            <input type="text" id="burger-input" />
            <br />
            <button type="submit" class="btn btn-primary mt-1" id="burger-submit-btn" onclick="post()" value="Submit">
                Submit
            </button>
        </form>
    </div>
</div>

{{!-- <script type="text/javascript">
    function post() {
        axios.post("/", { burgerName: document.getElementById("burger-input").value })
            .then((response) => {
                console.log(response);
        });
    }
    function put(value) {
        axios.put("/",{id: value})
            then((response) => {
                console.log(response);
            });
    }
</script> --}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js" integrity="sha256-XmdRbTre/3RulhYk/cOBUMpYlaAp2Rpo/s556u0OIKk=" crossorigin="anonymous"></script>
<script src="requests.js"></script>
